[2016-01-07 08:00] boboldehampsink opened #27 "Schematic should be able to perform Craft updates"
Schematic handles plugin migrations, but should also handle Craft migrations. At the moment, Schematic can't handle a 2.4 -> 2.5 update and fails.

[2016-01-07 08:19] boboldehampsink commented on #27
Fixed in b28750d8ecedffc62dad04aa207f10fb5bb41346

[2016-01-07 08:19] #27 closed, assigned to boboldehampsink

[2016-02-05 10:25] bvangennep opened #31 "Import with force breaks when removing matrix fields"
Craft wants to send a flash message, but App.Session is not defined.
This breaks the import.

[2016-02-11 12:33] pimkaptein opened #32 "Schematic "resets" permission on user groups"
##

[2016-02-11 13:21] bvangennep opened #33 "Category groups are not yet synced by schematic"
Category groups should also be synced

[2016-02-27 10:04] davjand opened #35 "Undefined index: SCRIPT_FILENAME in /craft/app/framework/base/CApplication.php on line 146 -- Error: File not found."
Hi I've just tried to do a very basic migration - add a new single section. Export was fine on my local machine and actually import runs fine on my local machine as well.

However when I try to do an import on my server I get the following error:

[code]

The Line in question is this:

`Yii::setPathOfAlias('webroot',dirname($_SERVER['SCRIPT_FILENAME']));`

I'm thinking that when I run from SSH on

[2016-02-27 10:06] davjand commented on #35
Infact, this is my server variable from the craft log

[code]

[2016-02-27 10:42] davjand commented on #35
It seems, adding the following to the schematic file seems to fix things:

[code]

Not sure if it's just because something is defined in the index or if the paths need to be correct

[2016-02-27 10:56] boboldehampsink commented on #35
What command you do use to invoke schematic? Do you use `./vendor/bin/schematic ...`?

[2016-02-27 13:16] davjand commented on #35
Sorry import command

On Sat, 27 Feb 2016 at 10:56, Bob Olde Hampsink notifications@github.com
wrote:

[2016-03-03 15:19] #32 closed, assigned to nobody

[2016-03-11 03:05] iand675 opened #36 "Documentation on how to actually use schematic?"
Hi there,

I'm not really familiar with the PHP ecosystem, so it's not really clear from the documentation how to go about using this tool. Do I put it in the plugins folder of my craft installation? Do I need to run composer install? After running composer install, there's not a file called schematic in `vendor/bin`. There is a file called `schematic` in the bin folder, but trying to execute that

[2016-03-11 07:38] boboldehampsink commented on #36
What OS do you use?

[2016-03-11 07:39] iand675 commented on #36
I'm running Craft inside of an Ubuntu VM (using Homestead).

[2016-03-11 07:40] boboldehampsink commented on #36
So you're saying there is a file in vendor/bin called schematic, but its not executing? Put a 7777 chmod on it.

[2016-03-11 07:42] iand675 commented on #36
No, to be clear, there's not a file in vendor/bin called schematic after running composer install.

[2016-03-11 07:43] boboldehampsink commented on #36
You're absolutely right about an "Installation" section btw, will be taken care of.
So did you run `composer require itmundi/schematic` in the project root?

[2016-03-11 07:44] iand675 commented on #36
No, didn't know that was what I needed to do :smile: . I checked out this repo into the plugins folder and ran composer install.

[2016-03-11 07:45] boboldehampsink commented on #36
Run that in the root of the project. And schematic isn't really a plugin ;-)

[2016-03-11 07:46] iand675 commented on #36
Lovely. That's what I was missing. Thanks for the help!

[2016-03-16 14:39] smcyr opened #37 "To be able to use different db / config depending on the server"
Hello,

I'm not sure if there is already this feature, but here is how I use it. I use the export feature in local with a specific db. Then, there is a deploy script running the import command on the staging environment with a different db / config. In the Craft config files (db.php and general.php), there is a multi environment setup based on the domains (.dev, .stage). Then, Schematic load the "

[2016-04-02 13:03] #36 closed, assigned to nobody

[2016-04-04 09:19] roelvanhintum opened #41 "Documentation on CLI constants like CRAFT_APP_PATH"
Maybe i'm missing something, but how can i set the `CRAFT_APP_PATH` constant?
I'm installing craft through composer, so the default location is different.

The schematic CLI suggests that it can be set in the following line:

[code]

[2016-04-04 11:13] bvangennep commented on #41
Unfortunately you can't at this time, CRAFT_APP_PATH is a constant which needs to be set in the php script. You'd have to write a wrapper to set the constant before running schematic.
We'll work on making CRAFT_BASE_PATH into an environment variable.

[2016-04-05 09:17] bvangennep commented on #41
Fixed in 3.2.0

[2016-04-05 09:17] #41 closed, assigned to nobody

[2016-04-05 09:27] bvangennep commented on #37
Fixed by 3.2.0
It is now possible to set CRAFT_ENVIRONMENT with an environment variable.

[2016-04-05 09:27] #37 closed, assigned to nobody

[2016-04-06 09:38] boboldehampsink opened #44 "Importing Asset Sources doesn't respect their sortOrder"

[2016-05-12 07:55] boboldehampsink opened #48 "Don't overwrite override.yml values in schema.yml when exporting"
If a value is present in override.yml - don't overwrite it in schema.yml when exporting

[2016-05-12 09:39] MRolefes opened #49 "elementIndexSettings don't seem to be imported (correctly)"
Craft table overview settings are exported but not imported during deployment.

[2016-05-12 19:11] boboldehampsink opened #50 "Add ability to run specific sub-tasks only"
Add ability to run specific sub-tasks only

Proposal i.e.:

`vendor/bin/schematic import --component elementIndexSettings`
`vendor/bin/schematic import --component assetSources,plugins`

[2016-05-12 19:52] boboldehampsink commented on #49
I was able to reproduce this. Craft is getting all editable sections to set the settings on, however in the console we don't have a session so nothing is "editable". These permissions have to be mocked in Schematic to make it function as admin.

[2016-05-13 08:25] #49 closed, assigned to boboldehampsink

[2016-05-13 08:59] nschmoller commented on #50
Maybe `--only` would be more clear?

[2016-05-16 11:24] kobeaerts opened #52 "Export image transforms"

[2016-05-16 11:54] kobeaerts opened #53 "Export tags groups"

[2016-05-19 14:57] sweetroll opened #54 "Compatibility with Sprout plugins."
Long time listener first time caller.

How difficult would it be to add support for the various sprout plugin by Barrel Strength - http://sprout.barrelstrengthdesign.com/craft-plugins

Their SEO, Forms and Fields plugins add new field types which make schematic throw `CHttpRequest is unable to determine the request URI`

Cheers.

[2016-05-19 14:59] boboldehampsink commented on #54
This is probably failing because Sprout plugins always assume there is a HTTP Request. Sprout plugins should fix this by checking for console operations by added a `craft()->isConsole()` check. That makes this a Sprout issue and not a Schematic one.

[2016-05-19 15:13] sweetroll commented on #54
Ok I'll let them know. Thanks for the quick response.

[2016-05-19 15:13] #54 closed, assigned to nobody

[2016-05-20 12:19] #33 closed, assigned to nobody

[2016-05-20 12:21] bvangennep commented on #53
Category groups have recently been added.

Categories and tags are considered `content` and synchronising them will not be part of this tool.
If you wish you can write your own plugin and make use of the registerMigrationService hook.

[2016-05-21 06:56] kobeaerts commented on #53
@bvangennep sorry, I meant the groups :/ But still why do you only export the Category groups and not the Tag groups?

[2016-05-22 17:11] bvangennep commented on #53
@kobeaerts Fair enough, tag groups can be a future addition

[2016-05-24 09:56] roelvanhintum opened #59 "Elevated user sessions break"
When running schematic, craft breaks on getting a user. I think.

[code]

[2016-05-24 10:00] boboldehampsink commented on #59
Ok, we should add the `getUser()` function to the Schematic service, returning user number 1 (superadmin).

[2016-05-24 10:05] boboldehampsink commented on #59
Try this: https://github.com/itmundi/schematic/tree/fix_elevated_user_sessions

[2016-05-26 13:16] roelvanhintum commented on #59
Still seems to break when checking for admin rights.
Example: `craft()->userSession->isAdmin()`

I'm using https://github.com/ethercreative/seo which does this inside the [hasCpSection](https://github.com/ethercreative/seo/blob/master/SeoPlugin.php#L57) call.
Looks like normal behavior to me.

[2016-05-26 13:17] boboldehampsink commented on #59
Ah. The seo plugin should not check for usersession in the console. It should be wrapped in `craft()->isConsole()`

[2016-05-26 13:30] roelvanhintum commented on #59
Thanks! I'll fix that first.

[2016-05-26 13:47] roelvanhintum commented on #59
It works fine for import and exports on 2.6.2789. Thanks!

[2016-05-31 06:18] tiborsaas opened #60 "Provide better error message"
Hello,

Currently I'm having trouble reading this. I have zero clue what's wrong, but the script should display where the error is.

[code]

[2016-05-31 06:21] boboldehampsink commented on #60
The message couldn't be more clear to me? Looks like a permissions issue on `/root/www/qwe.com/vendor/itmundi/schematic/bin/schematic`, try setting its chmod to 7777

[2016-05-31 06:26] tiborsaas commented on #60
It was not set to executable. Works now ;) The two bin folders confused me a bit. I just love descriptive command line errors.

[2016-05-31 06:26] #60 closed, assigned to nobody

[2016-05-31 06:27] boboldehampsink commented on #60
Actually, these errors have nothing to do with the script. It's just a standard unix error. Glad you got it fixed.

[2016-05-31 07:22] tiborsaas opened #61 "Strange database connection error"
![image](https://cloud.githubusercontent.com/assets/342688/15666378/de95fb02-2710-11e6-8eda-b1aaeb2af4a6.png)

I successfully exported with a similar LAMP setup, but now I've run into this. Any idea how to proceed?

The site is up and running, so the DB credentials are good in the config file.

[2016-05-31 07:30] tiborsaas commented on #61
In the bin/schematic the `getenv('CRAFT_SITENAME')` is returning false so I assume it can't match the  config environment variable.

[2016-05-31 07:42] tiborsaas commented on #61
BTW on the server where I run it successfully Craft env variables are not present.

[2016-05-31 07:43] boboldehampsink commented on #61
Craft env vars are only needed if:
1. You are setting up a new site which isn't installed yet
2. You do not have a "fallback" db config but a very specific one (in that case you need CRAFT_SITEURL to be set)

[2016-05-31 07:48] tiborsaas commented on #61
The latter is the case. I have a \* rule, but the password is set depending on the hostname. For some reason with the CRAFT_SITEURL or CRAFT_SITENAME set to the hostname (tried with and without http:// prefix) it still can't connect.

[2016-05-31 07:50] boboldehampsink commented on #61
Try using `console` as the name in your db.php

[2016-05-31 07:51] tiborsaas commented on #61
That did the trick. Thank you very much.

[2016-05-31 07:51] #61 closed, assigned to nobody

[2016-06-09 17:06] tiborsaas opened #62 "Importing breaks on a section"
Hello, I've run into this problem:

I've seen the other issue with similar dump, but I don't know how to proceed, I don't use the SEO plugin. The only plugin I use is the FormBuilder 2, but I don't see that referenced here nor does the stacktrace help me narrow down where to look for the issue.

[code]

[2016-06-09 17:59] tiborsaas commented on #59
@roelvanhintum How did you fix it? I'm getting the same error, but I'm not using the SEO plugin.

[2016-06-09 19:09] roelvanhintum commented on #59
@tiborsaas I fixed it by using the fix branch mentioned above (for now, until it is merged). And by making sure the used plugin is correctly handling users in case of console. By the the way, this is all @boboldehampsink !

The line that made the difference for me: https://github.com/ethercreative/seo/blob/dfda7857c1e5143ba740313d85e48622b9061ea5/SeoPlugin.php#L57

edit: safari autocomplete -_-

[2016-06-09 19:12] tiborsaas commented on #59
YAY, I added the `getUser` method to the schematic.php and it indeed fixed it.
Thanks, I didn't notice it was a different branch :)

[2016-06-09 19:13] tiborsaas commented on #62
Issue #59 fixes it with the referenced branch and adding the `getUser` method.

[2016-06-09 19:13] #62 closed, assigned to nobody

[2016-06-09 19:16] roelvanhintum commented on #59
@boboldehampsink Can you merge `fix_elevated_user_sessions` for the next release? It seems to work fine now.

[2016-06-16 15:05] #53 closed, assigned to nobody

[2016-06-23 15:40] #59 closed, assigned to nobody

[2016-06-23 15:40] bvangennep commented on #59
Included in 3.4.1

[2016-06-28 14:33] brammittendorff commented on #31
+1 👍

[2016-06-28 14:34] boboldehampsink commented on #31
@bvangennep userSession is now mocked by Schematic service, so setFlash can also be mocked now.

[2016-06-30 08:08] bvangennep opened #66 "Automatic migrations for plugins don't happen"
Probably something I did

[2016-07-06 15:29] jordypixelcode commented on #66
It looks like the migrations are marked as executed in the migrations table when schematic has ran with an empty database. When the database is all set up, you delete the record in the migrations table and run schematic import again, the migration will be executed.

[2016-07-19 13:36] bvangennep commented on #35
I'm closing this issue, likely a server configuration issue rather than a schematic issue

[2016-07-19 13:36] #35 closed, assigned to nobody

[2016-09-01 14:06] jpoiri opened #69 "No such file or directory running schematic"
Hi there,

I installed schematic using composer from the following directory:

C:\wamp\craft\app

Its seems to installed fine, however when I run the export command it seem to have can't find yii package. Is there something I am doing wrong?

[code]

[2016-09-01 14:09] boboldehampsink commented on #69
Mmm, it might be that Schematic is not compatible with Windows. We've never tested it on Windows...

[2016-09-02 15:47] bvangennep commented on #69
Windows could be an issue, also schematic assumes it is installed from the root of your project by default. (the directory that also contains the craft folder)
It looks like you've installed schematic from the craft/app directory, This means the relative path can't find the file it seeks.
TLDR:
I recommend trying to install schematic from the root of your project, rather than the craft/app folder.

[2016-10-12 14:17] Tam commented on #61
@boboldehampsink I'm getting the same error. I have valid DB connection details (tested yiic), and Craft is installed and setup. The setup I exported from is identical except for the database (importing to a fresh one).

[code]

Craft 2.6.2949, PHP 7.0.10

[2016-10-12 15:14] tiborsaas commented on #61
@Tam Have you tried adding the suggested `console` group to the DB settings?

[2016-10-12 15:52] Tam commented on #61
@tiborsaas I have, yeah.

[code]

Unless I'm missing something?

[2016-10-12 16:15] boboldehampsink commented on #61
Try 127.0.0.1 in stead of localhost

[2016-10-12 16:17] Tam commented on #61
That fixed it, thanks!

[2016-10-12 16:39] boboldehampsink commented on #61
Excellent!

[2016-10-27 15:05] lukeclifton commented on #61
@boboldehampsink

I getting the same error but none of the suggestions above seem to fix.

I have added `console` array to db.php as suggested. I am trying to export from a local Craft setup that is already installed. And i have no environment variables set in index.php file.

Any ideas?

Thanks for what looks like a sweet plugin. Looking forward to using it! ;)

[2016-11-02 15:40] bvangennep commented on #69
Been a while, assuming this has been resolved

[2016-11-02 15:40] #69 closed, assigned to nobody

[2016-11-11 21:12] spoik opened #71 "Publish Latest Version to Packagist"
Could the latest version (3.5.0 at time of writing) please be published to Packagist so it can be installed through composer? At time of writing the latest version on Packagist is 3.4.3.

[2016-11-12 17:05] bvangennep commented on #71
Apologies, it's done

[2016-11-12 17:05] #71 closed, assigned to nobody

[2016-11-23 01:27] tiborsaas opened #76 "Error importing section"
Hello, I've run into a problem I have no clue how to resolve. That section looks normal, nothing fancy, just  a matrix block, with a few fields.

![image](https://cloud.githubusercontent.com/assets/342688/20548485/1ac30488-b124-11e6-9499-176c62ae3461.png)

I'm using the latest Schematic and Craft CMS 2.6.2950

    Importing section `Academy`
    exception 'CDbException' with message 'CDbCommand fa

[2016-11-24 13:29] bvangennep commented on #76
Can you please attach your schema file so we can test with it?

[2016-11-24 20:39] tiborsaas commented on #76
Here it is

[schema.zip](https://github.com/nerds-and-company/schematic/files/612143/schema.zip)

[2016-12-08 19:31] joruro opened #77 "Error importing CMS field on *certain* environments"
We consistenly get an exception (see below) when trying to import cms fields on our staging and production environments. Importing works fine on local and development environments. We tried pulling in the production and staging DB to our local environment. Imports still work then. So DB is not corrupt. Copying our local code directly to the staging and production environments does not solve this i

[2016-12-08 20:33] joruro commented on #77
We found out that the fieldcontext is not being set correctly to 'global' when importing the global sets. Not sure why.

[2017-01-10 16:55] mgburns opened #78 "Cannot rename handles"
One limitation of this plugin I'm running up against is the inability to rename handles. It's not uncommon for a field or section name to change as a project progresses, and the use of the handle as an identifier in `schema.yml` makes it difficult to do this. As far as I can tell the only way around it is to rename the field in the database prior to import, which is hairy as the templates will ref

[2017-01-10 18:35] mgburns opened #79 "Removing a field throws an exception"
Removing any field results in this exception, thrown right after it begins import global sets:

[code]

Looks to be a Craft bug -- the removed fields are not properly flushed from the in-memory cache variable (`FieldsService::_allFieldsInContext`). (It should be cleared here: https://github.com/pixelandtonic/Craft-Release/blob/master/app/services/FieldsService.php#L732).

[2017-01-11 11:55] boboldehampsink commented on #78
The problem with ID's is that you can't guarantee that they're the same on different environments. Thats why we've chosen handles to represent these models. If you want to change a handle, you'd best write a separate migration for that.

[2017-01-11 11:57] boboldehampsink commented on #79
This could probably be fixed by flushing _allFieldsInContext here: https://github.com/nerds-and-company/schematic/blob/master/src/Services/Fields.php#L448 right?

[2017-01-11 12:05] mgburns commented on #78
Good point. Do you know of any good resources for how one might approach that?

[2017-01-11 12:06] boboldehampsink commented on #78
This should help: https://craftcms.com/docs/plugins/migrations

[2017-01-11 13:24] mgburns commented on #79
That does the trick! (Though I still consider a Craft bug).

[2017-01-11 13:36] boboldehampsink commented on #79
We'll add this

[2017-02-09 08:25] #78 closed, assigned to nobody

[2017-02-09 08:27] boboldehampsink commented on #79
Fixed in #81

[2017-02-09 08:27] #79 closed, assigned to nobody

[2017-02-09 08:31] boboldehampsink commented on #77
Can you try #81 to see if this is fixed?

[2017-02-09 09:56] Zae opened #82 "Matrix fields not deleted with --force"
Hi,

I'm having a little issue when I rename a matrix blocktype or delete a matrix blocktype. The old one is not deleted. Only when renaming the field itself will it update the correct fields.

Is this a known issue with matrix fields or am I forgetting something? I am using --force.

[2017-02-09 09:58] boboldehampsink commented on #82
May be related to #31

[2017-02-09 10:12] Zae commented on #82
I'm not getting any errors like bvangennep tho, it's simply not deleting the subfields, it looks like the deletion routine is not aware of the subfields at all.

I'll investigate a little further.

[2017-02-12 17:57] Antonimo opened #84 "Manual Installation"
If installation through Composer is not an option
Seems that you still need Composer to RUN it.... so why even have the manual option of installing?!
(how to run it without composer?)

[2017-02-12 18:12] Antonimo commented on #61
for everyone who said to use console as the name - how is that a Multi-Environment setup?!

[2017-02-13 13:01] boboldehampsink commented on #61
The multi-environment setup works by looking at the hostname, which, in the console, is not set.

[2017-02-13 13:34] Antonimo commented on #61
The question is will the multi-environment setup be supported?

[2017-02-15 16:08] Nekudapsik commented on #61
Make sure that your environment variable CRAFT_ENVIRONMENT is defined.
Check it with command:
`echo $CRAFT_ENVIRONMENT`
if you see nothing, just run:
`export CRAFT_ENVIRONMENT=my_environment`

[2017-03-06 14:08] #82 closed, assigned to bvangennep

[2017-03-10 15:42] zauni opened #87 "Plugin settings are not imported"
Hi and first of all: thanks for the great addition to CraftCMS! Much appreciated.
Now I found a small issue with importing plugin settings. I install the https://github.com/groe/craft-sitemap plugin which produces following schema after exporting:

[code]

Unfortunately these settings are not importing correctly, it is always importing an empty object to the database. This is even overriding the s

[2017-04-03 08:03] zauni commented on #87
Now I had time to dig into this issue and it turns out, that it's not the fault of schematic. I opened a pull request on the Sitemap plugin to solve this.
see https://github.com/groe/craft-sitemap/pull/4

[2017-04-03 08:03] #87 closed, assigned to nobody

[2017-04-03 09:57] bvangennep commented on #87
Great, thanks

[2017-04-11 12:53] bvangennep opened #89 "Fields get deleted when changing field group and importing with force"

[2017-04-12 12:56] boboldehampsink commented on #89
I did this today, but everything went ok

[2017-04-12 12:58] #52 closed, assigned to nobody

[2017-04-12 13:00] bvangennep commented on #89
k, maybe the order matters or something else weird was going on

[2017-04-12 13:03] #84 closed, assigned to nobody

[2017-04-14 21:58] kobeaerts opened #94 "Craft CMS 3 support?"
Any idea if this plugin works well with Craft 3?

[2017-04-18 06:21] boboldehampsink commented on #94
I suppose not - we have never tested it tho.

[2017-04-26 09:37] #89 closed, assigned to nobody

[2017-04-26 09:37] bvangennep commented on #89
hasn't reoccurred

[2017-04-26 09:38] bvangennep commented on #66
Ok, so this is an issue with a fresh database

[2017-04-26 19:38] kirbee-parsons-hs opened #98 "'editLocale' not included in 3.8.2 switch($sourceType) in src/Services/Sources.php"
`editLocale` is absent from the switch statement - without a default block, this change is breaking our schema export/import

[2017-04-26 19:39] evanlouie commented on #98
+1

[2017-04-26 19:40] eric-painchaud-hs commented on #98
+1

[2017-04-28 11:55] #94 closed, assigned to nobody

[2017-04-28 11:56] #77 closed, assigned to boboldehampsink

[2017-04-28 12:16] #98 closed, assigned to nobody

[2017-05-02 15:54] FreekVR opened #101 "Issues importing singles sections"
When trying to run an import containing new sections I run into the following error:

Error: Class 'Twig_Loader_String'  in app/services/TemplatesService.php:169
Stack trace:
  #0 /app/services/TemplatesService.php(363): Craft\TemplatesService->getTwig('Twig_Loader_Str...', Array)
  #1 /app/services/EntriesService.php(157): Craft\TemplatesService->renderObjectTemplate('{section.name|r...', Object(

[2017-05-17 09:09] FreekVR opened #102 "Error updating existing Global with RTE field"
Given an existing Global set with an RTE field filled with data, schematic will produce errors on subsequent imports.

I've traced the error to the RichTextFieldType on line 102:
`$charset = craft()->templates->getTwig()->getCharset();`

This will then produce a fatal error:
Fatal error: Interface 'Twig_LoaderInterface' not found in /var/www/kc/kabk-kc/app/etc/templating/twigextensions/TemplateLoa

[2017-05-22 03:45] darren131 opened #103 "Using with phpdotenv"
Hi,

I'm getting a `CDbConnection failed to open the DB connection` error and I'm pretty sure it's got to do with the fact that I'm using phpdotenv to handle our DB info. I tried adding `console` to the db.php config file bit it still didn't work...
[code]

Any ideas?

Thanks heaps!

[2017-05-22 12:51] bvangennep commented on #102
@FreekVR  Might be an issue with autoloading craft vendor packages. schematic looks at the CRAFT_VENDOR_PATH env variable to determine the location of the autoload.php
Normally this vendor dir is craft/app/vendor

[2017-05-22 12:56] bvangennep commented on #101
@FreekVR Format of single title seems more like a craft issue to me. We don't want to disturb craft default functionality too much.
Error might also be related to autoloading of craft vendor packages like mentioned in #102

[2017-05-22 13:02] bvangennep commented on #103
'*' should already match all environments (including console) so adding this doesn't change much. It appears the environment variables are not loaded.
Schematic runs it's own script bypassing the index.php where you probably load the .env file.
You could try to write a script that loads the .env variables before executing vendor/bin/schematic

[2017-05-22 13:04] bvangennep commented on #103
Or manually load .env in the db.php file

[2017-05-23 13:38] FreekVR commented on #102
Yup, turns out I had the CRAFT_VENDOR_PATH configured incorrectly, although it wasn't throwing an error on not finding the autoload.php itself.

Thanks!

[2017-05-23 13:38] #102 closed, assigned to nobody

[2017-05-23 13:39] FreekVR commented on #101
See #102, fixed. Thanks :)

[2017-05-23 13:39] #101 closed, assigned to nobody

[2017-05-24 07:23] qrazi commented on #103
We added a small script to the composer autoloader that bootstraps the DotEnv-setup:
[code]

which contains

[code]

Full disclosure: DotEnv usage based on: https://mattstauffer.co/blog/environment-specific-configuration-for-craftcms-using-phpdotenv

[2017-05-24 07:47] bvangennep commented on #103
ok, that's a neater solution :)

[2017-05-24 07:47] #103 closed, assigned to nobody

[2017-07-11 10:50] Zae opened #105 "excluded usergroups are deleted"
Hi,

If I exclude the usergroups from the export the existing usergroups are deleted on import because the usergroups key still exists in the export.

This is different from the users, these are also still existing in the export, but the existing users are not deleted when importing.

Is there a --exclude flag for the import as well?

EDIT: Using --force btw ;)

[2017-08-29 08:56] #76 closed, assigned to bvangennep

[2017-08-29 08:59] bvangennep commented on #76
The supertable plugin didn't reset the field context causing fields to be created in the wrong context. Implemented a fix to set field layout to global explicitly for global fields.

[2017-08-29 09:22] qrazi commented on #59
Apologies up front for using a closed issue. I am using the Solspace Freeform Submission plugin. On Schematic import I get the same error, i.e. "getUser" is not a closure. This thread ended with mention of getUser being added, but I don't see how it was added to the App-class? I only see it in the Service\Schematic class, but Craft CMS does not check the service when it tries to resolve getUser.

[2017-08-31 09:51] bvangennep opened #108 "Schematic does not sync element index settings source order"

[2017-09-05 12:00] #108 closed, assigned to boboldehampsink

[2017-10-03 21:23] darren131 opened #110 "App.supertable error"
Hi,

I'm running a very specific export:
`./vendor/bin/schematic export --exclude=assetSources --exclude=assetTransforms --exclude=categoryGroups --exclude=elementIndexSettings --exclude=globalSets --exclude=locales --exclude=tagGroups --exclude=users --exclude=userGroups`

But is failing with the following error message:
[code]

[2017-10-23 22:34] alexmglover commented on #94
Are there plans to upgrade to Craft 3?

[2017-10-24 05:55] boboldehampsink commented on #94
I think so :-)

[2017-12-06 14:33] ChrisButterworth commented on #94
Is there a timeline for Craft 3 support?

[2017-12-06 14:34] boboldehampsink commented on #94
No - basically whenever we feel like it. With RC1 out, there's more chance we'll be using that for our projects soon. And with that, there's also more chance we will port Schematic ;-)

[2018-01-08 15:14] bvangennep commented on #105
should be 'fixed' by the new exclude option

[2018-01-08 15:14] #105 closed, assigned to nobody

[2018-02-12 12:42] ricricucit opened #112 "Question: Craft3 porting"
**First of all:** thanks for this plugin. It's been of GREAT help.
- - -
**Question:** Is there a plan to port this to _Craft v3_ as well?

[2018-02-14 07:23] boboldehampsink commented on #110
Can you exclude supertable?

[2018-02-14 07:23] boboldehampsink commented on #112
Yes, we have plans for it.

[2018-04-05 07:10] #110 closed, assigned to nobody

[2018-04-12 16:50] bvangennep commented on #112
It's in progress

https://github.com/nerds-and-company/schematic/pull/114

[2018-04-12 16:50] #112 closed, assigned to nobody

[2018-04-12 16:52] bvangennep commented on #50
Will be available for craft3

https://github.com/nerds-and-company/schematic/pull/114

[2018-04-12 16:52] #50 closed, assigned to nobody

[2018-04-17 17:48] mgburns opened #117 "Minimum supported PHP version"
I see that PHP 7.1 is listed as the minimum version in `composer.json` -- is that accurate? We're on Arcustech which is still running 7.0 but would love to use this plugin. :)

[2018-04-17 17:56] mgburns commented on #117
Looks like it is -- just noticed you're using a [`void` return](http://php.net/manual/en/migration71.new-features.php) in a few spots. Is there any chance you'd consider lowering it to `7.0` or are we at the mercy of our hosting environment?

[2018-04-17 21:23] stovepot opened #118 "PHP 7.(1) Problem"
[code]

**Running:**

PHP version | 7.1.0
-- | --
MySQL 5.6.38
Imagick 3.4.3RC1 (ImageMagick 6.9.6-2)
Craft Pro 3.0.2
Yii v 2.0.15.1
Twig: 2.4.8

[2018-04-17 22:30] davidhellmann commented on #118
Same here.

[2018-04-18 10:09] #117 closed, assigned to nobody

[2018-04-18 10:09] #118 closed, assigned to nobody

[2018-04-18 12:31] lenvanessen opened #121 "'Missing Session component' thrown when importing element indexes"
[code]

[2018-04-21 03:01] engram-design opened #123 "Third-party field support"
Hey there, loving this plugin! Just wondering what the preference is for third-party field support. Would you like to get a PR, or are there events to hook into.

FYI - this is in regards to Super Table - let me know!

[2018-04-23 12:30] bvangennep commented on #123
To be honest I've not thought this far ahead.
Schematic should be easily expandable, but no events are available as of yet.
Ideally we don't want code in schematic for every third-party field out there. There are a few ways we can go.

Currently schematic uses converters for models/fields that are searched for in a specific namespace:
https://github.com/nerds-and-company/schematic/blob/master/src/

[2018-04-23 12:38] engram-design commented on #123
Regarding hooking into events - I suppose I mean that third-party plugins could 'register' converts for fields. I did try and mess around with creating classes with the correct namespace, but didn't seem to work.

For instance, in `getConverter()` it has:
[code]

Which would produce:
[code]
Which I did try and create a class for, without much luck.

Certainly wouldn't encourage third-party integra

[2018-04-23 13:13] bvangennep commented on #123
I think Yii only searches for files of the schematic namespace in the schematic directory.
Because of `Craft::setAlias('@NerdsAndCompany/Schematic', __DIR__);`

I'll look into a way to register custom converters.

PR's are always welcome.

[2018-04-24 09:44] bvangennep opened #126 "Empty field and site groups are not deleted on import with force"

[2018-04-24 13:14] lenvanessen commented on #121
After giving it some more thought, I don't think that this is a bug in your schematic extension. Schematic uses the Asset service, which uses the session ID to obfusticate the foldername.

In a console request, this session ID is not set, thus resulting in the exception being thrown.

https://github.com/craftcms/cms/issues/2798

[2018-04-24 13:19] bvangennep commented on #121
Ok, let's see what craft has to say about it

[2018-04-24 18:02] lenvanessen commented on #121
Closed

https://github.com/craftcms/cms/commit/8bddea2ca9c8c3c36aff36eb1a715dcd54b94514

[2018-04-24 18:02] #121 closed, assigned to nobody

[2018-04-25 14:13] smcyr opened #127 "Exception 'yii\base\UnknownMethodException' with message 'Calling unknown method: craft\console\Request::getSegment()'"
I get this error on latest Craft version (3.0.4) when exporting. It was working on 3.0.3.1:

[code]

[2018-04-25 14:16] bvangennep commented on #127
Can you add more of the stack trace please?

[2018-04-25 14:18] smcyr opened #128 "Craft 3: Not updating categories field source on import"
A categories field with no source is not updated with the source when importing:
[code]

[2018-04-25 14:19] smcyr commented on #127
I updated it in the first message, thanks!

[2018-04-25 14:25] bvangennep commented on #127
It seems like a problem in the `migrationmanager` plugin.
No schematic code is touched in the stack trace.

[2018-04-25 14:25] #127 closed, assigned to nobody

[2018-04-25 14:27] smcyr commented on #127
oops, you're right, I installed the plugin and updated Craft at about the same time, sorry

[2018-04-28 10:15] bvangennep commented on #128
Fix released in 4.0.4

[2018-04-28 10:15] #128 closed, assigned to nobody

[2018-04-29 13:31] bvangennep commented on #123
@engram-design I've implemented an event to inject custom converter in #132.
Can you check if that is something you can work with?

[2018-05-03 10:25] #123 closed, assigned to nobody

[2018-05-08 04:28] engram-design commented on #123
@bvangennep Thanks for this, at first glance, looks like just what we need but will let you know if there's anything we need! Thanks again.

[2018-05-08 11:24] engram-design commented on #123
For anyone following along with Super Table, this has been added in [2.0.7](https://github.com/verbb/super-table/releases/tag/2.0.7).

[2018-05-08 12:35] Henridv opened #134 "Options should use camelCase or kebap-case"
The option for file override should use camelCase or kebap-case. It otherwise results in an error from Yii.

[2018-05-13 14:48] bvangennep commented on #134
Thanks, this has been released in 4.0.6

[2018-05-13 14:48] #134 closed, assigned to nobody

[2018-05-16 09:16] mawiswiss opened #136 "Unknown command: schematic/export"
I installed Schematic via Composer.
After installing and activating the plugin in Craft (3.0.8) I'm not able to run a command like `./craft schematic/export`.

Error Message:
[code]

Any idea what the issue could be? Thanks

[2018-05-16 09:18] boboldehampsink commented on #136
Do you see anything schematic related when you simply run `./craft` ?

[2018-05-16 10:02] mawiswiss commented on #136
Nope. There are just the default commands in place.

[2018-05-16 10:02] boboldehampsink commented on #136
Do you see schematic in the database (plugins table) and do you see it in the vendor/nerds-and-company/schematic folder?

[2018-05-16 12:10] mawiswiss commented on #136
Oh, just fixed it.

The files were in /vendor and I also see the plugin in the DB.

The CLI was not able to connect with the database. Laravel Homestead has an issue when connecting to the database via command line (wrong port 3306 instead of 33060)

Thanks for your fast support and sorry for bothering you

[2018-05-16 12:11] boboldehampsink commented on #136
No probs, glad you fixed it 👍

[2018-05-16 12:11] #136 closed, assigned to nobody

[2018-05-23 17:07] smcyr opened #138 "GlobalSet error on import if field added at the same time"
In Craft 3, if you create a new field and add it to a Global set and import both at the same time, there is this error:

[code]
But if I run the import a second time, it works fine.

[2018-05-24 14:02] thijskaspers opened #139 "Add singles to elementIndexSettings sources"
We are sometimes adding singles to the elementIndex navigation, either by using Craft hooks or by using the 'Expanded Singles' plugin. However when exporting a new schema.yml file, this will result in blank values at the 'elementIndexSettings':

[code]

By adding `case: 'single'` to the getSource method in Schematic -> Services -> Sources.php, right above `case: 'section'` the schematic export the

[2018-05-24 14:04] thijskaspers commented on #139
![schermafbeelding 2018-05-24 om 16 03 45](https://user-images.githubusercontent.com/1608184/40490553-1b593ff0-5f6c-11e8-846d-9848e5443691.png)

[2018-06-01 08:01] boboldehampsink commented on #139
This is added in #142 for Craft 3. We do not plan on adding new features for Craft 2.

[2018-06-01 08:19] #139 closed, assigned to nobody

[2018-06-01 08:25] #48 closed, assigned to nobody

[2018-06-04 19:30] timkelty opened #144 "Potential issues with plugin config file settings"
Some plugins have settings thats cannot be translated to static values (e.g. closures), that are explicitly set in config files.

I recently ran into an issue with https://github.com/clubstudioltd/craft-asset-rev, where I exported (and later imported) but didn't notice that it imported the settings from my `config/assetrev.php` file.

In fact, that plugin has NO CP-set config options, so when they

[2018-06-04 19:58] bvangennep commented on #144
Maybe overriding the settings key of the plugin in the override file with null or an empty array will solve your issue?

[2018-06-05 11:38] bvangennep commented on #66
Won't fix anymore as we've moved to craft3

[2018-06-05 11:38] #66 closed, assigned to nobody

[2018-06-05 11:39] bvangennep commented on #44
Won't fix anymore as we've moved to craft3

[2018-06-05 11:39] #44 closed, assigned to nobody

[2018-06-05 11:39] bvangennep commented on #31
Won't fix anymore as we've moved to craft3

[2018-06-05 11:39] #31 closed, assigned to nobody

[2018-06-05 12:14] timkelty commented on #144
@bvangennep for use in importing or exporting?

I tried the following, and the plugin settings were still exported:

[code]

[code]

[2018-06-05 12:15] boboldehampsink commented on #144
@timkelty did you use this in the override file with the latest schematic version?

[2018-06-05 12:17] timkelty commented on #144
@boboldehampsink Yeah, 4.0.8

The above overrides file worked for import ( via `craft schematic/import --override-file=config/overrides.yml`), but had not affect on export.

Is that expected?

[2018-06-05 12:18] timkelty commented on #144
Separate issue, but I think its a little confusing that `export` automatically picks up `config/overrides.yml` but `import` doesn't? (unless I'm missing something)

[2018-06-05 12:19] boboldehampsink commented on #144
Well, since 4.0.8 the exported yaml is overridden with the override contents. And the override file is also automatically picked up in importing ;-) The argument flag is there if you want to use an other location or filename for the override file.

[2018-06-05 12:20] timkelty commented on #144
Ok let me do some more testing and make sure I'm giving your the right info :)

[2018-06-05 12:30] timkelty commented on #144
🤦‍♂️ ok all is working with override…I named my file overrides.yml 😁

So…back to the original issue - I'm wondering if Schematic should detect if a value is non-primitive (closure, etc) and throw an error when exporting?

[2018-06-05 12:51] timkelty commented on #144
FWIW, I tried this and it did _not_ work:

My goal was to still export `plugins.assetrev.isEnabled` and `plugins.assetrev.isInstalled` but skip over `plugins.assetrev.settings`, though I suppose thats more of an excludes thing than an override.

[code]

[2018-06-06 10:01] bvangennep commented on #144
We'll look into it, for now you should be able to work around it with the override at least.

[2018-06-08 10:22] thijskaspers commented on #139
Thanks!

[2018-06-12 11:35] boboldehampsink opened #147 "Fields get reordered on export"
Fields randomly get reordered on export

[2018-06-18 10:51] bvangennep commented on #147
Will be fixed in craft itself
https://github.com/craftcms/cms/pull/2989

[2018-06-18 10:51] #147 closed, assigned to nobody

[2018-07-11 09:52] Zae opened #150 "assignUserGroup not synced"
Hi,

I noticed that if you assign a userGroup the rights to assign new usergroups these rights are not correctly written to the schematic file, it appears to add a couple of - '' to the file but not the groups.

I added the following case to the Sources::getSource method. which appears to fix the problem, however, github won't allow me to send pull requests to tags and as this fix is for the craft

[2018-07-11 09:55] bvangennep commented on #150
@Zae I've created a craft2 branch you can use to base the PR on

[2018-07-11 10:19] Zae commented on #150
Created the PR.

[2018-07-13 13:13] bvangennep commented on #150
Merged and released

[2018-07-13 13:13] #150 closed, assigned to nobody

[2018-08-22 10:23] thijskaspers opened #156 "Assets export/import bug with volumes and volumefolders (Craft 3)"
Hiya,

Found a bug with exporting/importing assets. When you create an asset field, one of the attributes is the 'folder' setting, for example 'folder:3'. The ID of that folder references a row in the 'volumefolders' table and the volume folder has a volume ID pointing to the volume table.

Lets assume I have 2 volumes:

[code]

I now create 3 asset fields; one will be stored in 'home', one will b

[2018-08-23 10:27] thijskaspers commented on #156
An update: seems that from ID to ID isn't the fix.. it still uses the volume ID, instead of the volumefolder ID, resulting in the same errors:

[code]

And the `defaultUploadLocationSource` of the field will be set to `null` which will break the field or set it to the first volume it can find

[2018-08-23 10:51] thijskaspers commented on #156
Think I found the fix: It also needs this in `Behaviors\SourcesBehavior.php`

[code]

And from ID to ID on both export and import in `Converters\Fields\Assets.php`

[2018-08-30 09:37] bvangennep commented on #156
Thanks for looking into this.
Ideally we don't want any id's in the schema because this can differ between environments.

[2018-08-30 15:41] lazlo-bonin opened #157 "Clarify how import / export works"
Hi Nerds & Co!

Schematic looks great to fix the age-old problem of Craft on multi-envs, but I'm not sure I understand how it works from the readme.

Most importantly, what happens when you import a schema? Is the database replaced by the new elements or are new elements added to it? How about ID conflicts?

My workflow (like many others I think) is roughly:

1. Develop in local
2. Push to staging

[2018-08-30 15:58] lazlo-bonin commented on #157
Nevermind, I just realized it only touches the schema, not the content!

[2018-08-30 15:58] #157 closed, assigned to nobody

[2018-09-04 13:51] grumpyoldman-io commented on #156
This bug also pops up when using a remote folder (AWS S3).

[2018-09-18 09:19] wouter-vs opened #159 "Store settings in multiple files"
Wouldn't it be possible to save every setting in a different file instead of the one big schema.yml file?

This would make it easier to extract and reuse certain configuration options, like a single field, for a different project.

It would also be more clear in git what was added or changed.

If you like the idea I'm happy to help.

[2018-09-18 09:27] bvangennep commented on #159
I guess you could configure a directory in stead of a file. Could be doable.

[2018-09-24 09:01] RobinDevelopersNL commented on #156
Is there any ETA on this?

We have the same situation where our volumeID doesn't correspond with the ID of the folder. Craft has created a temporary source which breaks the ID coupling. Our volume has ID 5, folder has ID 10. We get No mapping found for source, in both export and import.

[2018-09-24 10:22] bvangennep commented on #156
working on it.
https://github.com/nerds-and-company/schematic/pull/160

[2018-09-24 10:43] RobinDevelopersNL commented on #156
Nice, thank you!

[2018-09-24 13:52] #156 closed, assigned to nobody

[2018-09-24 16:36] thijskaspers commented on #156
Thanks @bvangennep!

[2018-10-03 09:29] mtnorthrop opened #161 "Blocks inside Matrix fields, inside of SuperTable fields are not being imported"
I'm using version 4.0.17 on Craft 3.

I have a `SuperTableField` that contains a Matrix field, which in turn contains a number of different blocks.

When I run `schematic/export`, all these fields, down to the Matrix blocks, are written into the `yaml` file. However, when I run `schematic/import` in the target environment, only the SuperTable field and Matrix field are imported; all of the Matrix

[2018-10-16 14:35] roelvanhintum commented on #161
I'm having the same issue in a multi site setup (maybe this makes a difference?). Seems to be an issue with SuperTable. https://github.com/verbb/super-table/issues/179

[2018-10-25 06:18] stovepot opened #162 "Permission denied"
Trying to execute this: `./craft schematic/export`  but receiving `bash: ./craft: Permission denied
`.
What did I miss?

[2018-10-25 12:44] bvangennep commented on #162
This is a file system permissions issue.
You need execute permissions on the ./craft file.
https://linux.die.net/man/1/chmod

`chmod +x ./craft` should work

[2018-10-27 10:35] #162 closed, assigned to nobody

[2018-11-03 14:01] mgburns opened #163 "Exception accessing existing categories after importing new fields"
**Craft Version**: 3.0.29
**Schematic Version**: 4.0.17

## Steps to reproduce
1. Add a field to the field layout for a category group that has existing categories
2. Export  the schema
3. Import the schema into another database that doesn't have the new field
4. Attempt to visit any existing category in the group with new fields

It'll throw an exception complaining about an invalid field handle

[2018-11-06 20:32] cmalven opened #165 "User Field sources do not export"
**Steps to reporoduce:**

- Create a couple user groups
- Create a new `Users` field called `User Test` that allows only the two User Group sources you just created.
- Save the field
- `./craft schematic/export --include=fields`

**Expected result:**
- Export is successful
- Schema includes the appropriate user group sources

**Actual result:**
- `No mapping found for source group:1` on export
- S

[2018-11-06 21:13] cmalven opened #166 "YAML Parser error when running `import` on production server."
When I run `./craft schematic/import` on my Ubuntu server, I get the following error:

[code]

The same command runs fine on my local machine. Any ideas?

[2018-11-07 10:40] bvangennep commented on #166
Do you use an override.yml or environment overrides in production?

[2018-11-07 15:14] cmalven commented on #166
Nope, no overrides.

[2018-11-07 15:48] bvangennep commented on #166
Ok, the error message suggests an invalid yaml file. If this is the same file that is used in the other environments I don't know why this would happen.
Does your production environment differ from your other environments in any way

[2018-11-07 16:00] cmalven commented on #166
I figured it out. Even though my actual application on the prod server was running PHP 7.1, the version being used for the `php` command in the CLI was 7.0. I changed the CLI to use 7.1 and import worked fine.

[2018-11-07 16:00] #166 closed, assigned to nobody

[2018-11-18 19:34] nettum opened #169 "Import of multiple sites in same sitegroup not working for craft3"
Schematic does not seem to support import of multiple sites into the same sitegroup in craft3.

I have the following config in my craft install:
![image](https://user-images.githubusercontent.com/798156/48677051-aeb82100-eb6f-11e8-9075-f2a3936f2bb6.png)

After running `craft schematic/export`, dropping the database and setting up a fresh craft install I get the following error when trying to run `

[2018-11-18 20:41] #165 closed, assigned to nobody

[2018-11-18 22:25] bvangennep commented on #138
Can no longer reproduce.
Presumed fixed for now.

[2018-11-18 22:25] #138 closed, assigned to nobody

[2018-11-19 10:02] #126 closed, assigned to nobody

[2018-11-19 10:42] #163 closed, assigned to nobody

[2018-11-19 10:50] bvangennep commented on #169
Fixed in 4.0.18

[2018-11-19 10:50] #169 closed, assigned to nobody

[2018-11-19 12:04] nettum commented on #169
Just updated to 4.1.0 and can confirm that the import is now working.
Thanks! :tada:

[2018-11-19 12:35] bvangennep commented on #161
@roelvanhintum Has this been fixed by the changes to supertable?

[2018-11-19 12:58] roelvanhintum commented on #161
No, i had such a hard time to debug while having a deadline coming up i had to switch to [migration manager](https://github.com/Firstborn/Craft-Migration-Manager). Honestly, having migration files works really nice. Also, i'm not sure what we're going using once Craft 3.1 is released.

[2018-11-19 15:04] mtnorthrop opened #172 ""No mapping found for source" appearing during export"
Hello, there is a good chance that this is not a bug in this plugin specifically, but I'm seeing behavior that I don't understand and am not able to fix.

When running the export command in the terminal, I'm seeing this output:
[code]
The "No mapping found..." message seems to be from the 'fields' export. Also, in the terminal, Schematic reports that it is 'Exporting fields' twice: Once near the b

[2018-11-19 15:10] bvangennep commented on #172
Schematic needs to import fields twice because of sources that are imported later.
Because of the current implementation fields are also exported twice.

The error indicates a field has a source 'section:3' but that a section with id 3 can not be found.
 'section:3' should still be in the database somewhere. At the top of my head in the fields table.

[2018-11-19 15:28] mtnorthrop commented on #172
@bvangennep Thank you very much for your response.

By checking the `fields` table and searching for 'section:3' in the `settings` field, I discovered that an Entry field still existed that referred to the deleted section. After deleting this Entry field, Schematic ran without reporting any errors.

Thanks again; I appreciate you taking the time to respond. I'll close this issue now, and I hope it

[2018-11-19 15:28] #172 closed, assigned to nobody

[2018-11-28 17:40] 23d1 opened #173 "Feature Request: Admin Panel Functionality for Migrations"
Hey there,

I wanted to request, or suggest the features of schematic being implemented into the admin panel. The main reason being there are quite a few times where one doesn't have access to composer on various hosts and hosting solutions.

This is a wonderful plugin and I for one would love to see this being implemented into the admin with some basic options (checkboxes/lightswitches and migrat

[2018-11-29 18:23] bvangennep commented on #173
Sorry, schematic is intended as a cli tool only.
Maybe https://github.com/Pennebaker/craft-architect is something you can use.

[2018-11-29 18:23] #173 closed, assigned to nobody

[2020-04-14 12:40] VincentVanDenBossche opened #176 "./craft schematic/export"
When I try to export the settings I always get this error
[code]